@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Morto Sweepstakes</h1>
    <h2>Place your bets and have fun!!!</h2>
    <p>This is the World Cup 2022 edition</p>
</div>
<div class="banner">
    <img class="banner-image" src="~/lib/fifa-world-cup-2022-logo.png" />
    
</div>
