@{
    ViewData["Title"] = "Rules";
}
<h1>@ViewData["Title"]</h1>

<h3>Morto Sweepstakes - Fifa World Cup 2022 Rules</h3>

<!--Photo by Arseny Togulev on Unsplash-->
<img class="rules-background "src="/img/rules-background.jpg" />
  
<div class="cards-container">
    <div class="card text-center">
        <div class="card-body">
            <div class="card-header">HOW TO ENTER</div>
            <p class="card-text">If you are eligible to participe on the sweepstake game you will receive a link so you can register. You must be over 18 years old. After registering you will receive a confirmation e-mail so you can login and place your bets.</p>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <div class="card-header">SWEEPSTAKES PERIOD</div>
            <p class="card-text">As soon as Fifa makes the draw of the groups and release the game dates and matches, we will make the bets available. You should place the bets at any time before a game starts. After a game starts you won't be able to place or edit your bets.</p>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <div class="card-header">GAME FEE</div>
            <p class="card-text">Before receiving your confirmation e-mail you need to deposit the entry fee of CAD 50. Wait for more instructions on payment methods available.</p>
        </div>
    </div>
</div>

<div class="cards-container">
    <div class="card text-center">
        <div class="card-body">
            <div class="card-header">REGULAR POINTS</div>
            <ol>
                <li>Exact match results, winner and score: 20 points</li>
                <li>Right winner and score from only one team: 13 points</li>
                <li>Right winner and the score difference in between the teams: 13 points</li>
                <li>Right winner, wrong score but right score difference: 10 points</li>
                <li>Wrong winner but right score for one of the teams: 3 points</li>
            </ol>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <div class="card-header">EXTRA POINTS</div>
            <ol>
                <li>If you guess the 4th place: 30 points</li>
                <li>If you guess the 3rd place: 40 points</li>
                <li>If you guess the 2nd place: 70 points</li>
                <li>If you guess the 1st place: 120 points</li>
            </ol>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <div class="card-header">WINNERS</div>
            <p class="card-text">The top 3 players with most points will receive a prize:</p>
            <ol>
                <li>1st: 70% of the total value paid by all participants.</li>
                <li>2nd: 20% of the total value paid by all participants</li>
                <li>3rd: 10% of the total value paid by all participants</li>
            </ol>
        </div>
    </div>
</div>


<p>The exact prize values will be oficially disclosed on our website at the day the World Cup starts.</p>